<p id="notice"><%= notice %></p>

<div class="d-flex flex-column align-items-center">
  <h3><%= @clip.title %></h3>

  <%= video_tag @clip.video, :controls => true %>

  <script>
      let copyToClipboard = () => {
          let text = document.getElementById("textToCopy");
          text.select();
          document.execCommand("copy");
      }
  </script>

  <div class="row my-2">
    <div class="col-auto">
      <input id="textToCopy" class="form-control" value=<%= request.url %> readonly>
    </div>
    <div class="col-auto">
      <button onclick="copyToClipboard()" class="btn btn-outline-secondary">
        Copy
      </button>
    </div>
  </div>
  <div class="mt-2">
    <%= link_to 'Back', clips_path, class: "btn btn-outline-primary" %>
    <% if user_signed_in? and current_user.clips.friendly.exists?(params[:id])%>
      <%= link_to 'Delete', @clip, method: :delete, data: { confirm: 'Are you sure you want to delete this clip?' }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>