<p id="notice"><%= notice %></p>

<div class="d-flex flex-column align-items-center">
  <h3><%= @clip.title %></h3>

<!--  <video class="video-js" controls>-->
<!--    <source src="<%#= @clip.video %>" type="video/mp4">-->
<!--  </video>-->
  <%= video_tag @clip.video, :controls => true %>

  <input id="textToCopy" class="form-control w-25 my-2" value=<%= request.url %> readonly>
  <button onclick="copyToClipboard()" class="btn btn-outline-secondary">
    Copy
  </button>
  <div class="mt-2">
    <%= link_to 'Back', clips_path, class: "btn btn-outline-primary" %>
    <% if user_signed_in? and current_user.clips.friendly.exists?(params[:id])%>
      <%= link_to 'Delete', @clip, method: :delete, data: { confirm: 'Are you sure you want to delete this clip?' }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>