<!DOCTYPE html>
<html lang="en">
  <head>
    <title>rails-video</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:url"                  content="<%= request.url %>" />
<!--    <meta name="theme-color" content="#0275d8">-->
    <% if @clip %>
      <meta property="og:type"               content="video" />
      <meta property="og:title"              content="<%= @clip.title %>" />
      <meta property="og:video"              content="<%= @clip.video.url %>" />
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/navbar"%>
    <div class="container">
      <%= render partial: "shared/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
